build/
CMakeFiles/
CMakeScripts/
**/.DS_Store

CMakeCache.txt
Makefile
cmake_install.cmake

# Xcode
EndlessVoid.xcodeproj
EndlessVoid.build

# VS Code
.vscode/

#################
### Libraries ###
#################

# glad
/glad/CMakeFiles
/glad/Makefile
/glad/*.cmake
/glad/*.a

# glfw
/glfw/CMakeFiles
/glfw/Makefile
/glfw/*.cmake

# glm
/glm/*.yml
